@font-face {
    font-family: 'baloo';
    src:url('../fonts/baloo/Baloo2-Regular.ttf');
}

@font-face {
    font-family: 'baloo-extrabold';
    src:url('../fonts/baloo/Baloo2-ExtraBold.ttf');
}

body { 
    background-color: #EEEEEE;
    color: #707070;
    font-family: 'baloo', sans-serif;
    font-size: 2em;
}
h1 {
    font-family: 'baloo-extrabold', sans-serif;
}